@font-face {
  font-family: Cinzel-Bold;
  src: url(/fonts/Cinzel-Bold.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #a5c9bfe7;
  font-family: Cinzel-Bold, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: rgba(0, 0, 0, 0.723);
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}
#textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: navajowhite;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}
